body{
	background: linear-gradient(-165deg, #FA846E 0%, #FB905F 30%, #FDAB3D 100%) no-repeat;
	background-attachment: fixed;
	background-size: 180% 180%;
	-webkit-animation: Gradient 6s ease infinite;
	-moz-animation: Gradient 6s ease infinite;
	animation: Gradient 6s ease infinite;

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

	@-webkit-keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

	@-moz-keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

	@keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

a {
	text-decoration: none;
	border: 0;
	margin: 0;
	outline: none;
}

p{
	color: #FFFFFF;
	letter-spacing: +1px;
	margin-top: 0;
}

HTML{
	height: 100%;
}

.wrapper{
	max-width: 1100px;
	margin: auto;
	padding: 0 40px;
	position: relative;
}

#social{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
	margin-top: 15px;
	text-align: right;
}

#header{
	padding-top: 20px;
	text-align: center;
}

#logo{
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 0;
	transform-style: preserve-3d;
}

#logo_image{
	max-width: 600px;
	vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
	overflow: visible;
}

#logo_image.purple{
	max-width: 604px;
}

.yellow{
	transform-style: preserve-3d;
	transform: translateZ(80px);
	position: absolute;
}

.black{
	transform-style: preserve-3d;
	transform: translateZ(40px);
	position: absolute;
}

.black{
	transform-style: preserve-3d;
	position: absolute;
}

#tagline{
	font-size: 26px;
	font-weight: 100;
	margin-top: 5px;
}

.icon{
	padding: 10px;
	vertical-align: middle;
}

.icon img{
	vertical-align: middle;
	max-height: 30px;
}

.mobile{
	display: none;
}

.mobile.mobile_device {
	display: none;
}

#media{
	padding-top: 35px;
	font-size: 40px;
	font-weight: 900;
}

#beat{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: center;
}

#speech{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: center;
}

.type{
	margin-bottom: 0px;
	font-style: italic;
}

.title{
	padding-top: 0px;
	display: inline-block;
	vertical-align: top;
	font-weight: 500;
	font-size: 18px;
	color: #FFE180;
}

.title:hover {
	text-decoration: underline;
}

#player{
	padding-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#beatplayer{
	width: 39%;
	display: inline-block;
	text-align: center;
	display: flex;
	align-items: center;
}

#speechplayer{
	width: 39%;
	display: inline-block;
	text-align: center;
	display: flex;
	align-items: center;
}

#beatreset{
	width: 49%;
	display: inline-block;
}

#beatvolume{
	width: 49%;
	display: flex;
  justify-content: center;
}

#beatvolume input {
	display: block;
}

#speechreset{
	width: 49%;
	display: inline-block;
}

#speechvolume{
	width: 49%;
	display: flex;
  justify-content: center;
}

#speechvolume input {
	display: block;
}

#playpausebutton{
	width: 20%;
	display: inline-block;
	text-align: center;
	line-height: 0;
}

.btn{
	transition: all 0.25s ease;
}

#playpausebutton img:hover{
	transform: scale(1.1) perspective(1px);
}

#playpausebutton img:active{
	transform: scale(1) perspective(1px);
}

#buttonicon{
	cursor: pointer;
	border-radius: 50%;
}

.reset{
	cursor: pointer;
	border-radius: 50%;
}

#beatreset img:hover{
	transform: scale(1.1) perspective(1px);
}

#speechreset img:hover{
	transform: scale(1.1) perspective(1px);
}

#beatreset img:active{
	transform: scale(1) perspective(1px);
}

#speechreset img:active{
	transform: scale(1) perspective(1px);
}

#speechvideo{
	display: block;
	position: absolute;
	visibility: hidden;
	z-index: 0;
}

#beatvideo{
	display: block;
	position: absolute;
	visibility: hidden;
	z-index: 0;
}

.playpause{
	max-width: 100px;
}

.reset{
	max-width: 80px;
}

#tooltip{
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 10px;
	visibility: hidden;
}

#tooltip.override{
	visibility: visible;
}

#share{
	padding-top: 45px;
	text-align: center;
}

#share img{
	cursor: pointer;
}

#share img:hover{
	transform: scale(1.1) perspective(1px);
}

#share img:active{
	transform: scale(1) perspective(1px);
}

.sharebutton{
	max-width: 120px;
}

#footer{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

studiologo a{
	display: inline-block;
}

#USTWOlogo{
	display: inline-block;
	width: 24%;
	vertical-align: middle;
	text-align: center;
	opacity: 0.75;
}

#endline{
	display: inline-block;
	width: 49%;
	padding-top: 30px;
	text-align: center;
	vertical-align: middle;
	opacity: 0.3;
}

#SSlogo{
	display: inline-block;
	text-align: center;
	width: 24%;
	vertical-align: middle;
}

.studiologo img{
	max-width: 120px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	opacity: 0.3;
}

.mobile.mobile_device{
	display: none;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}


@media (max-width: 1000px){

	#media{
		font-size: 30px;
	}

	.title{
		font-size: 16px;
	}

	#logo{
		padding-top: 10px;
	}

}

@media (max-width: 767px){

	.icon img{
		max-height: 30px;
	}

	#logo_image{
		max-width: 500px;
	}

	#logo_image.purple{
		max-width: 503px;
	}

	#logo{
		padding-top: 40px;
	}

	#tagline{
		font-size: 22px;
	}

	.wrapper{
		margin: auto;
	}

	#header{
		padding-top: 0px;
	}

	#titles{
		padding-bottom: 10px;
	}

	.playpause{
		max-width: 80px;
	}

	.reset{
		max-width: 60px;
	}

	.studiologo img{
		max-width: 110px;
	}

	#endline{
		font-size: 14px;
	}

	#footer{
		padding-top: 30px;
	}

}

@media (max-width: 600px){

	#social{
		text-align: center;
	}

	.icon img{
		padding-left: 2px;
		padding-right: 2px;
	}

	#header{
		padding-top: 10px;
	}

	#tagline{
		font-size: 18px;
	}

	#logo_image{
		max-width: 400px;
	}

	#logo_image.purple{
		max-width: 402px;
	}

	#media{
		font-size: 25px;
	}

	#player{
		padding-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.playpause{
		max-width: 70px;
	}

	.reset{
		max-width: 50px;
	}

	.sharebutton{
		max-width: 100px;
	}

	.wrapper{
		margin: auto;
	}

	#header{
		padding-top: 0px;
	}

	.studiologo img{
		max-width: 100px;
	}

	#endline{
		padding-top: 20px;
	}

	.title{
		font-size: 14px;
	}

}

@media (max-width: 500px){

	#logo_image{
		max-width: 350px;
	}

	#logo_image.purple{
		max-width: 352px;
	}

	.studiologo img{
		max-width: 70px;
	}

	#media{
		font-size: 23px;
	}

}

@media (max-width: 450px){

	#logo_image{
		max-width: 320px;
	}

	#logo_image.purple{
		max-width: 322px;
	}

	#tagline{
		font-size: 16px;
	}

	.mobile.small_screen{
		display: block;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.desktop{
		display: none;
	}

	#footer{
		text-align: inherit;
	}

	#ADVlogo{
		width: 40%;
	}

	#endline{
		width: 10%;
	}

	#SSlogo{
		width: 40%;
	}

}

@media (max-width: 390px){

	#logo_image{
		max-width: 280px;
	}

	#logo_image.purple{
		max-width: 281px;
	}

	#tagline{
		font-size: 13px;
	}

	.icon img{
		max-height: 30px;
	}

}

	@media (max-width: 370px){

		#logo_image{
			max-width: 230px;
		}

		#logo_image.purple{
			max-width: 231px;
		}

}
