body{
	background: linear-gradient(-165deg, #FA846E 0%, #FB905F 30%, #FDAB3D 100%) no-repeat;
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

p{
	color: #FFFFFF;
	letter-spacing: +1px;
	margin-top: 0;
}

HTML{
	height: 100%;
}

.wrapper{
	max-width: 1100px;
	margin: auto;
	padding: 0 40px;
	position: relative;
}

#social{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	margin-top: 20px;
	text-align: right;
}

#header{
	padding-top: 20px;
	text-align: center;
}

#logo{
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 0;
}

#logo_image{
	max-width: 600px;
	vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#tagline{
	font-size: 26px;
	font-weight: 100;
	margin-top: 15px;
}

.icon{
	padding: 10px;
	vertical-align: middle;
}

.icon img{
	vertical-align: middle;
	max-height: 35px;
}

#media{
	padding-top: 40px;
	font-size: 40px;
	font-weight: 900;
}

#beat{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: center;
}

#speech{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: center;
}

.type{
	margin-bottom: 0px;
	font-style: italic;
}

.title{
	font-weight: 500;
	font-size: 18px;
	color: #FFE180;
}

#player{
	display: flex;
	align-items: center;
	 justify-content: center;
}

#beatplayer{
	width: 39%;
	display: inline-block;
	text-align: center;
	display: flex;
	align-items: center;
}

#speechplayer{
	width: 39%;
	display: inline-block;
	text-align: center;
	display: flex;
	align-items: center;
}

#beatreset{
	width: 49%;
	display: inline-block;
}

#beatvolume{
	width: 49%;
	display: flex;
  justify-content: center;
}

#beatvolume input {
	display: block;
}

#speechreset{
	width: 49%;
	display: inline-block;
}

#speechvolume{
	width: 49%;
	display: flex;
  justify-content: center;
}

#speechvolume input {
	display: block;
}

#playbutton{
	width: 20%;
	display: inline-block;
	text-align: center;
	line-height: 0;
}

.playpause{
	max-width: 100px;
}

.reset{
	max-width: 80px;
}

#share{
	padding-top: 80px;
	text-align: center;
}

.sharebutton{
	max-width: 120px;
}

#footer{
	padding-top: 20px;
	text-align: center;
}

studiologo a{
	display: inline-block;
}

#ADVlogo{
	display: inline-block;
	width: 24%;
	vertical-align: top;
	text-align: center;
}

#endline{
	display: inline-block;
	width: 49%;
	padding-top: 30px;
	text-align: center;
	opacity: 0.5;
}

#SSlogo{
	display: inline-block;
	text-align: center;
	width: 24%;
	vertical-align: top;
}

.studiologo img{
	max-height: 50px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	opacity: 0.5;
}


@media (max-width: 1000px){

	#media{
		font-size: 30px;
	}

	.title{
		font-size: 16px;
	}

	#logo{
		padding-top: 20px;
	}

}

@media (max-width: 767px){

	.icon img{
		max-height: 30px;
	}

	#logo_image{
		max-width: 500px;
	}

	#logo{
		padding-top: 40px;
	}

	#tagline{
		font-size: 22px;
	}

	.wrapper{
		margin: auto;
	}

	#header{
		padding-top: 0px;
	}

	#titles{
		padding-bottom: 10px;
	}

	.playpause{
		max-width: 80px;
	}

	.reset{
		max-width: 60px;
	}

	.studiologo img{
		max-height: 45px;
	}

	#endline{
		font-size: 14px;
	}

	#footer{
		padding-top: 30px;
	}

}

@media (max-width: 600px){

	#social{
		text-align: center;
	}

	.icon img{
		padding-left: 3px;
		padding-right: 3px;
	}

	#header{
		padding-top: 10px;
	}

	#tagline{
		font-size: 18px;
	}

	#logo_image{
		max-width: 400px;
	}

	#media{
		font-size: 25px;
	}

	.playpause{
		max-width: 70px;
	}

	.reset{
		max-width: 50px;
	}

	.sharebutton{
		max-width: 100px;
	}

	.wrapper{
		margin: auto;
	}

	#header{
		padding-top: 0px;
	}

	.studiologo img{
		max-height: 42px;
	}

	#endline{
		padding-top: 20px;
	}

	.title{
		font-size: 14px;
	}

}

@media (max-width: 500px){

	#logo_image{
		max-width: 350px;
	}

	.studiologo img{
		max-height: 35px;
	}

	#media{
		font-size: 23px;
	}

}

@media (max-width: 425px){

	#logo_image{
		max-width: 320px;
	}

	#tagline{
		font-size: 16px;
	}

}

	@media (max-width: 390px){

		#logo_image{
			max-width: 250px;
		}

		#tagline{
			font-size: 13px;
		}

}
