body{
	background: linear-gradient(-165deg, #FA846E 0%, #FB905F 30%, #FDAB3D 100%);
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

p{
	color: #FFFFFF;
	letter-spacing: +1px;
	margin-top: 0;
}

HTML{
	height: 100%;
}

.wrapper{
	max-width: 1100px;
	margin: auto;
	padding: 0 40px;
	position: relative;
}

#social{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	margin-top: 20px;
	text-align: right;
}

#header{
	padding-top: 20px;
	text-align: center;
}

#logo{
	display: inline-block;
	vertical-align: middle;
	padding: 20px 0 0 0;
}

#logo_image{
	max-width: 600px;
	vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#tagline{
	font-size: 26px;
	font-weight: 100;
	margin-top: 10px;
}

.icon{
	padding: 10px;
	vertical-align: middle;
}

.icon img{
	vertical-align: middle;
	max-height: 35px;
}

#info{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#media{
	padding-top: 30px;
	font-size: 40px;
	font-weight: 900;
}

#song{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: center;
}

#speech{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: center;
}

.type{
	margin-bottom: 0px;
	font-style: italic;
}

.title{
	font-weight: 500;
	font-size: 20px;
	color: #FFE180;
}

#player{
	padding-top: 30px;
}

#songplayer{
	width: 39%;
	display: inline-block;
}

#playbutton{
	width: 20%;
	display: inline-block;
	text-align: center;
}

.playpause{
	max-width: 100px;
}

.reset{
	max-width: 80px;
}

#speechplayer{
	width: 39%;
	display: inline-block;
}

#share{
	padding-top: 60px;
	text-align: center;
}

.sharebutton{
	max-width: 120px;
}


@media (max-width: 1000px){

	.icon{
		padding: 0 10px 0 0;
	}

}

@media (max-width: 767px){

	.icon img{
		max-height: 30px;
	}

	#logo_image{
		max-width: 500px;
	}

	#tagline{
		font-size: 22px;
	}

	.wrapper{
		margin: auto;
	}

	#header{
		padding-top: 0px;
	}

}

@media (max-width: 600px){

	#social{
		text-align: center;
	}

	.icon img{
		padding-left: 3px;
		padding-right: 3px;
	}

	#header{
		padding-top: 10px;
	}

	#tagline{
		font-size: 18px;
	}

	.icon img{
		max-height: 28px;
	}

	#logo_image{
		max-width: 400px;
	}

	.wrapper{
		margin: auto;
	}

	#header{
		padding-top: 0px;
	}

}

@media (max-width: 500px){

	#logo_image{
		max-width: 350px;
	}

}

@media (max-width: 425px){

	#logo_image{
		max-width: 300px;
	}

	#tagline{
		font-size: 16px;
	}

}

	@media (max-width: 390px){

		#logo_image{
			max-width: 230px;
		}

		#tagline{
			font-size: 13px;
		}

}
